<form role="form" (ngSubmit)="onSubmit()" [formGroup]="editForm">
  <div class="form-group">
    <label>Pokemon Dex Number:</label>
    <input type="number" formControlName="dexNo" [(ngModel)]="pokemon.dexNo" value="{{pokemon.dexNo}}" required/>
  </div>

  <div class="form-group">
    <label>Pokemon Name:</label>
    <input type="text" formControlName="name" [(ngModel)]="pokemon.name" value="{{pokemon.name}}" required/>
  </div>

  <div class="form-group">
    <label>Type(s)</label>
    <br>
    <select formControlName="type1" [(ngModel)]="pokemon.type1" required>
      <option *ngFor="let type of types" [value]="type" [selected]="pokemon.type1 == type">{{type}}</option>
    </select>
    <br>
    <select formControlName="type2" [(ngModel)]="pokemon.type2">
      <option selected="selected">None</option>
      <option *ngFor="let type of types" [value]="type" [selected]="pokemon.type2 == type">{{type}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>HP: </label>
    <input type="number" formControlName="hp" [(ngModel)]="pokemon.baseHP" value="{{pokemon.baseHP}}" required/>
  </div>

  <div class="form-group">
    <label>Attack: </label>
    <input type="number" formControlName="attack" [(ngModel)]="pokemon.baseAttack" value="{{pokemon.baseAttack}}" required/>
  </div>

  <div class="form-group">
    <label>Defense: </label>
    <input type="number" formControlName="defense" [(ngModel)]="pokemon.baseDefense" value="{{pokemon.baseDefense}}" required/>
  </div>

  <div class="form-group">
    <label>Special Attack: </label>
    <input type="number" formControlName="spAttack" [(ngModel)]="pokemon.baseSpecialAttack" value="{{pokemon.baseSpecialAttack}}" required/>
  </div>

  <div class="form-group">
    <label>Special Defense: </label>
    <input type="number" formControlName="spDefense" [(ngModel)]="pokemon.baseSpecialDefense" value="{{pokemon.baseSpecialDefense}}" required/>
  </div>

  <div class="form-group">
    <label>Speed: </label>
    <input type="number" formControlName="speed" [(ngModel)]="pokemon.baseSpeed" value="{{pokemon.baseSpeed}}" required/>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Edit Pokemon</button>
  <a class="btn btn-default" href="/list">Back</a>
</form>